DBT_SNOWFLAKE_ACCOUNT=<org-name>-<account-name>
DBT_SNOWFLAKE_USER=MEMADORE
DBT_SNOWFLAKE_PRIVATE_KEY_PATH=/path/to/your/key.p8
DBT_SNOWFLAKE_ROLE=DEMO_DATA_DEVELOPER
DBT_SNOWFLAKE_WH=DEMO_TRANSFORM_XS
DBT_SNOWFLAKE_DATABASE=DEMO_DEV_ANALYTICS
DBT_SNOWFLAKE_SCHEMA=DBT_MEMADORE
