SNOWFLAKE_ACCOUNT=<org-name>-<account-name>
SNOWFLAKE_USER=<username>
SNOWFLAKE_PRIVATE_KEY_PATH=/path/to/your/key.p8
SNOWFLAKE_ROLE=DEMO_DATA_DEVELOPER
SNOWFLAKE_WH=DEMO_TRANSFORM_XS
SNOWFLAKE_DATABASE=DEMO_DEV_ANALYTICS
SNOWFLAKE_SCHEMA=DBT_${SNOWFLAKE_USER}
